<h1>New Topic</h1>
<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <%= text_input f, :title, placeholder: "Topic title" %>
  <%= error_tag f, :title %>
<%= submit "Create Topic", class: "btn" %>
<% end %>
